@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-orange: #FF6B35;
  --primary-orange-light: #FF8C42;
  --dark-black: #0A0A0A;
  --dark-black-light: #1A1A1A;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


